---
import BaseLayout from "../layouts/BaseLayout.astro";
import InfoBox from "../layouts/InfoBox.astro";
import { Image } from "astro:assets";
import profilepic from "../assets/bay-dock.jpg";
import userIcon from "../icons/user.svg";
import "@fontsource/fredoka-one";
import Icon from "../components/Icon.astro";

import glitterGif from "../assets/glittergif.gif";
import chompfriend from "../assets/chompcutout-ps.png";
import pandabearfriend from "../assets/pandacutout-ps.png";

const glitterBackground = "url(" + glitterGif.src + ")";
---

<BaseLayout
  pageTitle="About Me"
  description="Learn about Phil's work"
  imageUrl={profilepic.src}
  imageAlt="Phillip smiles into the camera for a selfie in the glow of sunset, appearing in a ballcap and sporting a long bushy beard, standing on a dock in a marina with water in the background"
>
  <h1 class="visually-hidden">About Me</h1>

  <div class="full-bleed my-space">
    <div class="area left">
      <div class="quick-info">
        <div class="profile-photo">
          <img
            width="960"
            height="941"
            id="profile-pic"
            src={profilepic.src}
            alt="Phillip smiles into the camera for a selfie in the glow of sunset, appearing in a ballcap and sporting a long bushy beard, standing on a dock in a marina with water in the background"
          />

          <!--  <button id="changeProfilePic" class="button-as-link">[Change profile picture]</button>-->
        </div>
        <div class="info-basic">
          <p><strong>Phil</strong></p>
          <p>he/him/his</p>
          <p>Washington, DC</p>
          <p>United States</p>
        </div>
      </div>
      <InfoBox>
        <h2>Contacting Phil</h2>
        <div class="contact-container">
          <div class="contact-links">
            <button id="copyEmailAddress" class="button-as-link"
              ><Icon icon="copy" /> Copy Email to Clipboard</button
            >

            <a href="mailto:pkk@phillipkentknight.com"
              ><Icon icon="email" /> Send Email in App</a
            >

            <a rel="me" href="https://codepen.io/phillipkent">
              <Icon icon="codepen" /> Codepen</a
            >

            <a rel="me" href="https://www.linkedin.com/in/phillipkentknight"
              ><Icon icon="linkedin" /> LinkedIn</a
            >

            <a rel="me" href="https://www.instagram.com/phillipkent">
              <Icon icon="instagram" /> Instagram</a
            >

            <a rel="me" href="https://www.github.com/phillipknight"
              ><Icon icon="github" /> Github</a
            >
          </div>
        </div>
      </InfoBox>

      <InfoBox>
        <h2>Quick Facts</h2>
        <div class="fact-container">
          <div class="facts">
            <h3>Titles I've held</h3>
            <ul>
              <li>Web Developer</li>
              <li>Product Manager</li>
              <li>Bearded Wizard</li>
              <li>Logic Wrangler</li>
              <li>Digital Producer</li>
              <li>Webmaster</li>
              <li>Accessibility Champion</li>
              <li>Template Tactician</li>
              <li>User Advocate</li>
              <li>Lead Barista</li>
              <li>Political Organizing Expert</li>
              <li>Campaign Technology Specialist</li>
            </ul>
          </div>
          <div class="facts">
            <h3>Technology I like</h3>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>ActionKit</li>
              <li>Ghost</li>
              <li>New/Mode</li>
              <li>Astro</li>
              <li>API integrations</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Favorite Collaborators</h3>
            <ul>
              <li>Campaigners</li>
              <li>Creators</li>
              <li>Designers</li>
              <li>Developers</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Drink</h3>
            <ul>
              <li>Coffee</li>
              <li>Scotch</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Hobbies</h3>
            <ul>
              <li>Amateur Radio</li>
              <li>Baking</li>
              <li>Cycling</li>
              <li>Gardening</li>
              <li>Random Projects</li>
            </ul>
          </div>
        </div>
      </InfoBox>
    </div>
    <div class="area right">
      <div class="biography wrapper">
        <p class="extended-network">
          "Tinkering with technology and trying to make a difference"
        </p>

        <h2 class="visually-hidden">My Blurb</h2>
        <p>
          Friendly, nerdy, and bearded. Originally from L.A., but totally at
          home in DC. I build kick-ass tech for good causes and campaigns. My
          other interests include cycling, amateur radio, drinking coffee,
          listening to podcasts, watching airplanes, diving down random internet
          rabbit holes, and playing with two awesome cats.
        </p>

        <div class="cats">
          <figure class="cat">
            <Image
              src={pandabearfriend}
              alt="A floofy white cat with black spots, pink ears and a pink snoot, his mouth is agape as the photo snaps while he meows"
            />
            <figcaption>
              <p><strong>Panda Bear 🐼</strong></p>
              <p>Job: Bag Inspector</p>
              <p>Place of Birth: Annapolis, MD</p>
            </figcaption>
          </figure>
          <figure class="cat">
            <Image
              src={chompfriend}
              alt="A grey kittycat stands politely with paws close together and faces the camera"
            />
            <figcaption>
              <p><strong>Chomp 👑</strong></p>
              <p>Job: Queen</p>
              <p>Place of Birth: Los Angeles, CA</p>
            </figcaption>
          </figure>
        </div>

        <h2>My Work</h2>

        <p>
          I have a background in organizing, extensive tech skills, and over a
          decade of experience building digital products designed to make a
          difference.
        </p>

        <p>
          I write production-quality HTML, CSS, and Javascript, as well as
          working with modern front-end frameworks. I collaborate with
          campaigners, designers, developers, and stakeholders to create
          compelling experiences with maximum impact.
        </p>

        <p>
          My work has been used by millions of people taking action around the
          world. Some of my best work has included integrating, extending, and
          hacking industry-leading platforms like ActionKit, Ghost, WordPress,
          NationBuilder, and New/Mode.
        </p>

        <p><a class="glitter-text" href="/cv">Check out my CV</a></p>

        <h2>Comments</h2>
        <div class="comment-feed">
          <ul>
            <li>
              <div class="avatar">
                <Image src={userIcon} alt="" />
                <p>Manager</p>
              </div>
              <p class="comment">
                <q
                  >Phil regularly challenges us to think beyond how something
                  looks to how it will work and be used by all of our users.</q
                >
              </p>
            </li>
            <li>
              <div class="avatar">
                <Image src={userIcon} alt="" />
                <p>Content Creator</p>
              </div>
              <p class="comment">
                <q
                  >He can answer just about any question you could possibly have
                  on digital tech and resolves any problems that come up very
                  quickly!</q
                >
              </p>
            </li>
            <!-- <li>
              <div class="avatar">
                <Image src={userIcon} alt="" />
                <p>Campaigner</p>
              </div>
              <p class="comment">
                <q
                  >Phil is always ready to help and solve problems. He
                  invariably remains calm, positive and focussed, even in
                  challenging situations. He is a rock in the storm!</q>
              </p>
            </li> -->
            <li>
              <div class="avatar">
                <Image src={userIcon} alt="" />
                <p>Designer</p>
              </div>
              <p class="comment">
                <q
                  >He's always very well-informed and understands all the
                  intricate details on particular subjects (sometimes it seems
                  to be all subjects)</q
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  //click-to-copy email address and click handler
  function copyEmailAddress() {
    var emailHandle = "pkk";
    var emailDomain = "phillipkentknight.com";

    navigator.clipboard.writeText(`${emailHandle}@${emailDomain}`);
    alert("Email address copied! ...and I can't wait to hear from you!");
  }

  document
    .getElementById("copyEmailAddress")!
    .addEventListener("click", copyEmailAddress);
</script>

<style define:vars={{ glitterBackground }}>
  span.blockspam {
    display: none;
  }

  .button-as-link {
    border: 0;
    background: 0;
    text-align: start;
    text-decoration: underline;
    color: LinkText;
    color: -webkit-link;
    cursor: pointer;
    align-items: normal;
    border-style: none;
    box-sizing: border-box;
    display: inline;
    font: inherit;
    height: auto;
    padding: unset;
    perspective-origin: 0 0;
    transform-origin: 0 0;
    width: auto;
    appearance: none;
    -moz-appearance: none;
    -webkit-logical-height: auto;
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  }

  h1 {
    padding-inline: 1.5rem;
  }

  .my-space {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .area.left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    flex: 1;
  }

  .area.right {
    flex: 3;
  }

  .quick-info {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1.5rem;
  }
  .quick-info .profile-photo {
    flex-basis: 24ch;
  }
  .profile-photo > img {
    max-width: 100%;
    height: auto;
  }

  .info-basic {
    flex: 1;
    flex-basis: max-content;
  }

  .contact-container {
    padding: 1.5rem;
    background-color: white;
  }
  .fact-container {
    padding: 0.5rem;
    background-color: white;
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .contact-links > * {
    flex: 1;
    flex-basis: 15ch;
    gap: 0.75rem;
  }
  .contact-links a,
  .contact-links button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    font-weight: bold;
  }

  .facts {
    color: black;
    background-color: #efefef;
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 33% 66%;
    align-items: start;
    justify-items: start;
    &:has(+ *) {
      margin-block-end: 0.5rem;
    }
  }

  .facts > ul {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0;
    & li {
      display: inline;
    }
    & li:has(+ li)::after {
      content: ",";
    }
  }

  .extended-network {
    border: 1.5px solid;
    padding: 1.5rem;
    margin-block-end: 3rem;
    font-size: 1.3125rem;
  }

  .biography h2 {
    background-color: #efefef;
    color: black;
    font-size: 1.6875rem;
    padding-inline-start: 1.5rem;
  }
  .cats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
    align-items: end;
    margin-block-end: 3rem;
  }
  .cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15rem;
    & img {
      cursor:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💖</text></svg>")
          16 0,
        auto; /*!emojicursor.app*/
    }
  }
  .friends-list {
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
  }
  .friend {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-items: center;
    align-items: center;
  }

  .friend > img {
    width: 168px;
    height: 300px;
    max-width: 100%;
    height: auto;
  }

  p:has(.glitter-text) {
    text-align: center;
  }

  .glitter-text {
    font-family: "Fredoka One";
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 3px 4px 0px black;
    font-size: 4rem;
  }

  @supports (background-clip: text) {
    .glitter-text {
      font-family: "Fredoka One";
      background: linear-gradient(magenta, blue);
      background-clip: text;
      color: transparent;
      text-decoration: none;
      font-weight: bold;
      -webkit-text-stroke: 0;
      text-shadow: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      .glitter-text {
        background-size: cover;
        background-image: var(--glitterBackground);
        filter: brightness(150%) drop-shadow(0 0 1px white);
      }
    }
  }

  .comment-feed > ul {
    display: grid;
    gap: 1.5rem;
    list-style: none;
    list-style-type: none;
    padding: 0;
    & li {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1.5rem;
    }
  }

  .comment-feed .avatar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    & p {
      text-align: center;
    }
    & img {
      padding: 1rem;
      background-color: #efefef;
      width: 200px;
      max-width: 100%;
      height: auto;
    }
  }
</style>
