---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilepic from "../assets/bay-dock.jpg";
import profilepic1 from "../assets/crowned-knight.jpeg";
import profilepic2 from "../assets/coffee-shot.jpg";
import profilepic3 from "../assets/island-vibes.jpg";

import workPhoto1 from "../assets/center-equality-day-2015.jpg";
import workPhoto2 from "../assets/phil-wad-2017.png";
import workPhoto3 from "../assets/na-in-uk-2019.jpg";
import workPhoto4 from "../assets/clientcon-2019.jpg";


const pageTitle = "About Me";

---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="visually-hidden">About Me</h1>

  <div class="full-bleed my-space">
    <div class="area left">
      <div class="quick-info">
        <div class="profile-photo">
          <img id="profile-pic"
            src={profilepic.src}
            alt="Phillip smiles into the camera for a selfie in the glow of sunset, appearing in a ballcap and sporting a long bushy beard, standing on a dock in a marina with water in the background"
          />

          <!--  <button id="changeProfilePic" class="button-as-link">[Change profile picture]</button>-->
        </div>
        <div class="info-basic">
          <p><strong>Phil</strong></p>
          <p>he/him/his</p>
          <p>Washington, DC</p>
          <p>United States</p>
        </div>
      </div>
      <div class="contact-box">
        <h2>Contacting Phil</h2>
        <div class="contact-container">
          <ul class="contact-links">
            <li>
              <div>
                <button id="copyEmailAddress" class="button-as-link" 
                  >Copy Email to Clipboard</button
                >
                <dialog>
                  <button autofocus>Close</button>
                  <p>Email address copied - I can't wait to hear from you!</p>
                </dialog>
              </div>
            </li>
            <li>
              <a href="mailto:pkk@phillipkentknight.com">Send Email in App</a>
            </li>
            <li>
              <a href="https://www.codepen.io/phillipkent"
                >Collaborate on Codepen</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/phillipkentknight"
                >Connect on LinkedIn</a
              >
            </li>

            <li>
              <a href="https://www.facebook.com/phillipkent"
                >Friend on Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/phillipkent"
                >Follow on Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contact-box">
        <h2>Quick Facts</h2>
        <div class="fact-container">
          <div class="facts">
            <h3>Titles I've held</h3>
            <ul>
              <li>Web Developer</li>
              <li>Product Manager</li>
              <li>Bearded Wizard</li>
              <li>Logic Wrangler</li>
              <li>Digital Producer</li>
              <li>Webmaster</li>
              <li>Accessibility Champion</li>
              <li>Template Tactician</li>
              <li>User Advocate</li>
              <li>Lead Barista</li>
              <li>Political Organizing Expert</li>
              <li>Campaign Technology Specialist</li>
            </ul>
          </div>
          <div class="facts">
            <h3>Technology I like</h3>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>ActionKit</li>
              <li>Ghost</li>
              <li>New/Mode</li>
              <li>Astro</li>
              <li>API integrations</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Favorite Collaborators</h3>
            <ul>
              <li>Campaigners</li>
              <li>Creators</li>
              <li>Designers</li>
              <li>Developers</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Drink</h3>
            <ul>
              <li>Coffee</li>
              <li>Scotch</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Hobbies</h3>
            <ul>
              <li>Amateur Radio</li>
              <li>Baking</li>
              <li>Cycling</li>
              <li>Gardening</li>
              <li>Random Projects</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="area right">
      <div class="biography wrapper">
        <p class="extended-network">"Tinkering with technology and trying to make a difference"</p>
        <h2>My Work</h2>

        <p>
          I've spent over a decade helping campaigns and nonprofit organizations
          build and manage web products designed to change the world.
        </p>

        <p>
          Combining experience in campaigns with expertise in technology, I help
          teams bridge the gaps between creators, campaigners, developers, and
          stakeholders.
        </p>

        <p>
          My early career included front-line field organizing, traditional
          communications, and campaign strategy. Now, my specialty is bringing
          this knowledge into the digital products I build.
        </p>

        <p>
          I work well with campaigners and designers, and I'm happy to
          facilitate collaboration on topics including accessibility, frontend
          code, user experience, and product development.
        </p>

        <p>
          I'm continuously learning and expanding my technical skillset both
          professionally and for fun. I'm comfortable building
          production-quality CSS, HTML, and JavaScript as well as working with
          modern frameworks.
        </p>

        <p>
          Some of my best work has been using, hacking, extending, and
          integrating the most powerful and popular toolsets including platforms
          like ActionKit, Ghost, WordPress, NationBuilder, and New/Mode.
        </p>

        <!-- todo  <p><a href="#">Check out my CV</a></p> 
        <img src="http://i.picasion.com/gl/92/iIck.gif"/> -->

        <div class="friends-list">
          <div class="friend">
            <!-- <a href="#">Beard Placeholder</a> -->
            <img src={workPhoto1.src} alt=""/>
          </div>
          <div class="friend">
            <img src={workPhoto2.src} alt=""/>
          </div>
          <div class="friend">
            <img src={workPhoto3.src} alt=""/>
          </div>
          <div class="friend">
            <img src={workPhoto4.src} alt=""/>
          </div>
         
          

        </div>

      </div>


    </div>
  </div>
</BaseLayout>






<script>
  //click-to-copy email address and click handler
  function copyEmailAddress() {
    var emailHandle = "pkk";
    var emailDomain = "phillipkentknight.com";

    navigator.clipboard.writeText(`${emailHandle}@${emailDomain}`);
    alert("Email address copied! ...and I can't wait to hear from you!");
  }

  document.getElementById("copyEmailAddress")!.addEventListener("click", copyEmailAddress);

</script>



<style>
  span.blockspam {
    display: none;
  }

  .button-as-link {
    border: 0;
    background: 0;
    text-align: start;
    text-decoration: underline;
    color: LinkText;
    color: -webkit-link;
    cursor: pointer;
    align-items: normal;
    border-style: none;
    box-sizing: border-box;
    display: inline;
    font: inherit;
    height: auto;
    padding: unset;
    perspective-origin: 0 0;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  }

  h1 {
    padding-inline: 1.5rem;
  }

  .my-space {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .area.left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    flex: 1;
  }

  .area.right {
    flex: 3;
  }

  .quick-info {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1.5rem;
  }
  .quick-info .profile-photo {
    flex-basis: 24ch;
  }

  .info-basic {
    flex: 1;
    flex-basis: max-content;
  }

  .contact-box {
    background-color: black;
    color: white;
    border: 1.5px solid black;
  }

  .contact-container {
    padding: 1.5rem;
    background-color: white;
  }
  .fact-container {
    padding: 0.5rem;
    background-color: white;
  }
  .contact-box h2 {
    font-size: 1.3125rem;
    padding-inline: 1.5rem;
  }
  .contact-box h3 {
    font-size: 1rem;
  }

  .contact-box ul.contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    gap: 1.5rem;
    padding: 0;

    background-color: white;
    color: black;
    & a,
    button {
      text-decoration: none;
      font-weight: bold;
    }
  }

  .contact-box .facts {
    color: black;
    background-color: #efefef;
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 33% 66%;
    align-items: start;
    justify-items: start;
    &:has(+ *) {
      margin-block-end: 0.5rem;
    }
  }

  .facts > ul {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0;
    & li {
      display: inline;
    }
    & li:has(+ li)::after {
      content: ",";
    }
  }

  .extended-network {
    border: 1.5px solid;
    padding: 1.5rem;
    margin-block-end: 3rem;
    font-size:  1.3125rem;
  }

  .biography h2 { 
    background-color: #efefef;
    color: black;
    font-size: 1.6875rem;
    padding-inline-start: 1.5rem;
  }

  .friends-list {
    background: #efefef;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:.5rem;
    padding:1.5rem;
  }
</style>
