---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilepic from "../assets/bay-dock.jpg";
import userIcon from "../icons/user.svg";
import "@fontsource/fredoka-one";

// import profilepic1 from "../assets/crowned-knight.jpeg";
// import profilepic2 from "../assets/coffee-shot.jpg";
// import profilepic3 from "../assets/island-vibes.jpg";

import workPhoto1 from "../assets/center-equality-day-2015.jpg";
import workPhoto2 from "../assets/phil-wad-2017.png";
import workPhoto3 from "../assets/na-in-uk-2019.jpg";
import workPhoto4 from "../assets/clientcon-2019.jpg";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="visually-hidden">About Me</h1>

  <div class="full-bleed my-space">
    <div class="area left">
      <div class="quick-info">
        <div class="profile-photo">
          <img
            id="profile-pic"
            src={profilepic.src}
            alt="Phillip smiles into the camera for a selfie in the glow of sunset, appearing in a ballcap and sporting a long bushy beard, standing on a dock in a marina with water in the background"
          />

          <!--  <button id="changeProfilePic" class="button-as-link">[Change profile picture]</button>-->
        </div>
        <div class="info-basic">
          <p><strong>Phil</strong></p>
          <p>he/him/his</p>
          <p>Washington, DC</p>
          <p>United States</p>
        </div>
      </div>
      <div class="contact-box">
        <h2>Contacting Phil</h2>
        <div class="contact-container">
          <ul class="contact-links">
            <li>
              <div>
                <button id="copyEmailAddress" class="button-as-link"
                  >Copy Email to Clipboard</button
                >
                <dialog>
                  <button autofocus>Close</button>
                  <p>Email address copied - I can't wait to hear from you!</p>
                </dialog>
              </div>
            </li>
            <li>
              <a href="mailto:pkk@phillipkentknight.com">Send Email in App</a>
            </li>
            <li>
              <a href="https://www.codepen.io/phillipkent"
                >Collaborate on Codepen</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/phillipkentknight"
                >Connect on LinkedIn</a
              >
            </li>

            <li>
              <a href="https://www.facebook.com/phillipkent"
                >Friend on Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/phillipkent"
                >Follow on Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contact-box">
        <h2>Quick Facts</h2>
        <div class="fact-container">
          <div class="facts">
            <h3>Titles I've held</h3>
            <ul>
              <li>Web Developer</li>
              <li>Product Manager</li>
              <li>Bearded Wizard</li>
              <li>Logic Wrangler</li>
              <li>Digital Producer</li>
              <li>Webmaster</li>
              <li>Accessibility Champion</li>
              <li>Template Tactician</li>
              <li>User Advocate</li>
              <li>Lead Barista</li>
              <li>Political Organizing Expert</li>
              <li>Campaign Technology Specialist</li>
            </ul>
          </div>
          <div class="facts">
            <h3>Technology I like</h3>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>ActionKit</li>
              <li>Ghost</li>
              <li>New/Mode</li>
              <li>Astro</li>
              <li>API integrations</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Favorite Collaborators</h3>
            <ul>
              <li>Campaigners</li>
              <li>Creators</li>
              <li>Designers</li>
              <li>Developers</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Drink</h3>
            <ul>
              <li>Coffee</li>
              <li>Scotch</li>
            </ul>
          </div>

          <div class="facts">
            <h3>Hobbies</h3>
            <ul>
              <li>Amateur Radio</li>
              <li>Baking</li>
              <li>Cycling</li>
              <li>Gardening</li>
              <li>Random Projects</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="area right">
      <div class="biography wrapper">
        <p class="extended-network">
          "Tinkering with technology and trying to make a difference"
        </p>
        <h2>My Work</h2>

        <p>
          I've spent over a decade helping campaigns and nonprofit organizations
          build and manage web products designed to change the world.
        </p>

        <p>
          Combining experience in campaigns with expertise in technology, I help
          teams bridge the gaps between creators, campaigners, developers, and
          stakeholders.
        </p>

        <p>
          My early career included front-line field organizing, traditional
          communications, and campaign strategy. Now, my specialty is bringing
          this knowledge into the digital products I build.
        </p>

        <p>
          Thoughtful about design and keenly focused on users, I collaborate
          effectively with campaigners and creatives. I'm also happy to
          facilitate collaboration on topics including accessibility, frontend
          code, user experience, and product development.
        </p>

        <p>
          I'm continuously learning and expanding my technical skillset both
          professionally and for fun. I build production-quality CSS, HTML, and
          JavaScript as well as working with modern front-end frameworks. 
        </p>

        <p>
          Some of my best work has been using, hacking, extending, and
          integrating industry-leading platforms like ActionKit, Ghost,
          WordPress, NationBuilder, and New/Mode.
        </p>


        <p><a class="glitter-text" href="/cv">Check out my CV</a></p>

        <!--
        <h2>Case Studies</h2>
        <div class="friends-list">
          <div class="friend">
            <img src={workPhoto1.src} alt="" />
          </div>
          <div class="friend">
            <img src={workPhoto2.src} alt="" />
          </div>
          <div class="friend">
            <img src={workPhoto3.src} alt="" />
          </div>
          <div class="friend">
            <img src={workPhoto4.src} alt="" />
          </div>
        </div>
      -->

        <h2>Comments</h2>
        <div class="comment-feed">
          <ul>
            <li>
              <div class="avatar">
                <img src={userIcon.src} />
                <p>Manager</p>
              </div>
              <p class="comment">
                <q
                  >Phil regularly challenges us to think beyond how something
                  looks to how it will work and be used by all of our users.</q
                >
              </p>
            </li>
            <li>
              <div class="avatar">
                <img src={userIcon.src} />
                <p>Content Creator</p>
              </div>
              <p class="comment">
                <q
                  >He can answer just about any question you could possibly have
                  on digital tech and resolves any problems that come up very
                  quickly!</q
                >
              </p>
            </li>
            <!-- <li>
              <div class="avatar">
                <img src={userIcon.src} />
                <p>Campaigner</p>
              </div>
              <p class="comment">
                <q
                  >Phil is always ready to help and solve problems. He
                  invariably remains calm, positive and focussed, even in
                  challenging situations. He is a rock in the storm!</q>
              </p>
            </li> -->
            <li>
              <div class="avatar">
                <img src={userIcon.src} />
                <p>Designer</p>
              </div>
              <p class="comment">
                <q
                  >He's always very well-informed and understands all the
                  intricate details on particular subjects (sometimes it seems
                  to be all subjects)</q
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  //click-to-copy email address and click handler
  function copyEmailAddress() {
    var emailHandle = "pkk";
    var emailDomain = "phillipkentknight.com";

    navigator.clipboard.writeText(`${emailHandle}@${emailDomain}`);
    alert("Email address copied! ...and I can't wait to hear from you!");
  }

  document
    .getElementById("copyEmailAddress")!
    .addEventListener("click", copyEmailAddress);
</script>

<style>
  span.blockspam {
    display: none;
  }

  .button-as-link {
    border: 0;
    background: 0;
    text-align: start;
    text-decoration: underline;
    color: LinkText;
    color: -webkit-link;
    cursor: pointer;
    align-items: normal;
    border-style: none;
    box-sizing: border-box;
    display: inline;
    font: inherit;
    height: auto;
    padding: unset;
    perspective-origin: 0 0;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  }

  h1 {
    padding-inline: 1.5rem;
  }

  .my-space {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .area.left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    flex: 1;
  }

  .area.right {
    flex: 3;
  }

  .quick-info {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1.5rem;
  }
  .quick-info .profile-photo {
    flex-basis: 24ch;
  }

  .info-basic {
    flex: 1;
    flex-basis: max-content;
  }

  .contact-box {
    background-color: black;
    color: white;
    border: 1.5px solid black;
  }

  .contact-container {
    padding: 1.5rem;
    background-color: white;
  }
  .fact-container {
    padding: 0.5rem;
    background-color: white;
  }
  .contact-box h2 {
    font-size: 1.3125rem;
    padding-inline: 1.5rem;
  }
  .contact-box h3 {
    font-size: 1rem;
  }

  .contact-box ul.contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    gap: 1.5rem;
    padding: 0;

    background-color: white;
    color: black;
    & a,
    button {
      text-decoration: none;
      font-weight: bold;
    }
  }

  .contact-box .facts {
    color: black;
    background-color: #efefef;
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 33% 66%;
    align-items: start;
    justify-items: start;
    &:has(+ *) {
      margin-block-end: 0.5rem;
    }
  }

  .facts > ul {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0;
    & li {
      display: inline;
    }
    & li:has(+ li)::after {
      content: ",";
    }
  }

  .extended-network {
    border: 1.5px solid;
    padding: 1.5rem;
    margin-block-end: 3rem;
    font-size: 1.3125rem;
  }

  .biography h2 {
    background-color: #efefef;
    color: black;
    font-size: 1.6875rem;
    padding-inline-start: 1.5rem;
  }

  .friends-list {
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1.5rem;
  }

  p:has(.glitter-text) {
    text-align: center;
  }

  .glitter-text {
    font-family: "Fredoka One";
    background: linear-gradient(magenta, blue);
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-size: 5rem;
    font-weight: bold;
  }

  @media (prefers-reduced-motion: no-preference) {
    .glitter-text {
      font-family: "Fredoka One";
      background-size: cover;
      background-image: url(https://64.media.tumblr.com/fa16a486b6588726ab76523ed830ae48/3e25cdb10e230574-19/s500x750/de8d3d50721f5f6b9ab38d50ee8513969354c892.gif);
      filter: brightness(150%) drop-shadow(0 0 1px white);
    }
  }

  .comment-feed > ul {
    display: grid;
    gap: 1.5rem;
    list-style: none;
    list-style-type: none;
    padding: 0;
    & li {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1.5rem;
    }
  }

  .comment-feed .avatar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    & p {
      text-align: center;
    }
    & img {
      padding: 1rem;
      background-color: #efefef;
    }
  }
</style>
