---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Card } from "accessible-astro-components";
import FormattedDate from "../components/FormattedDate.astro";


const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>

  <ul class="new-cards">
    {
      allPosts.map((post) => (
        <li>
          <h2>{post.data.title}</h2>
          <FormattedDate date={post.data.pubDate} />
          <p>{post.data.description}</p>
          <a href={`/posts/${post.slug}/`}>Read more</a>      
        </li>
      ))
    }
  </ul>

  <ul class="cards">
    {
      allPosts.map((post) => (
        <li>
          <Card
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            img={post.data.image.url}
            footer=""
          >
            {post.data.description}
          </Card>
        </li>
      ))
    }
  </ul>
  <a href="/tags">All tags</a>
</BaseLayout>

<style>
  ul.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    list-style: none;
    padding-inline-start: 0;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  ul.new-cards { 
    padding-inline-start: 0;
    list-style:none;
    list-style-type:none;

    display: grid;
    gap: 1.5rem;

    & li {
      box-shadow: 2px 2px 1px #000000bb;
      border: 2px solid;
      padding: 1.5rem;
    }
  }
</style>
