---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import { Card } from 'accessible-astro-components'


const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
    <p>Articles and Posts</p>

    <ul class="cards">
      {
          allPosts.map((post) => (
            <li>
            <Card url={`/posts/${post.slug}/`} title={post.data.title} img={post.data.image.url} footer="">
              {post.data.description}
              </Card></li>
          ))
        }
  </ul>
  <a href="/tags">All tags</a>

</BaseLayout>

<style>
  ul.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    list-style: none;
    padding-inline-start: 0;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>