---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
import "@fontsource/atkinson-hyperlegible";
import atkinsonHyperlegibleWoff2 from "@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-ext-400-normal.woff2";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  description: string;
  imageUrl?: string;
  imageAlt?: string;
}

const {
  pageTitle = "Hello",
  description = "From the desk of Phillip Kent Knight",
  imageUrl = "",
  imageAlt = "",
} = Astro.props;
const fullPageTitle = pageTitle + " - Phillip Kent Knight";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageUrlFull = Astro.url.origin + imageUrl;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={atkinsonHyperlegibleWoff2}
      crossorigin
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={fullPageTitle}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: imageUrlFull,
          url: Astro.url,
        },
        optional: {
          description: description,
        },
        image: {
          alt: imageAlt,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@phillipkent",
        creator: "@phillipkent",
        title: pageTitle,
        image: imageUrlFull,
        imageAlt: imageAlt,
        description: description,
      }}
    />
    {
      Astro.url.pathname == "/" && (
        <>
          <link rel="me" href="/about/" />
          <link rel="me" href="https://www.github.com/phillipknight" />
          <link rel="me" href="https://mastodon.social/@phillipkent" />
          <link rel="me" href="https://www.instagram.com/phillipkent" />
          <link rel="me" href="https://www.twitter.com/phillipkent" />
        </>
      )
    }
    {Astro.url.pathname == "/about/" && <link rel="me" href="/" />}
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main id="#main" class="wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>
