---
import BlogLayout from "./BlogLayout.astro";
import Tags from "../components/Tags.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
  <header class="full-bleed wrapper">
    {
      frontmatter.image.url && (
        <img
          class="full-bleed"
          src={frontmatter.image.url}
          width="100%"
          alt={frontmatter.image.alt}
        />
      )
    }
    <h1>{frontmatter.title}</h1>
    <FormattedDate date={frontmatter.pubDate} />
  </header>

  <slot />
  <section>
    <Tags tags={frontmatter.tags} />
  </section>
</BlogLayout>
<style>
  header {
    background-color: #000;
    color: #fff;
  }
</style>
