---
import BaseLayout from "./BaseLayout.astro";

import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p transition:animate={fade({ duration: "2s" })}>
    <em>{frontmatter.description}</em>
  </p>
  {
    frontmatter.image.url && (
      <img
        src={frontmatter.image.url}
        width="100%"
        alt={frontmatter.image.alt}
      />
    )
  }
  <ul class="tags">
    {
      frontmatter.tags.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <slot />
</BaseLayout>

<style>

  .tags {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
  }

  .tags > li {
    display: grid;
    place-content: center;
  }
  .tags > li > a {
    color: #fff;
    background-color: #000;
    padding: 0.5rem;
    outline-offset: 0.25rem;
    outline-style: thick;
    text-decoration: none;
  }

  .tags > li > a:focus-within, .tags > li > a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 0.5cap;
  }
</style>
